.FavoritesList {
    right: 5px;
    width: 20%;
    background-color: white;
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: fixed;
    overflow-y: scroll;
    height: 60%;
}